<div id="addCustomerModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="blue bigger">Add New Customer</h4>
      </div>

      <form id="newCustomerForm" name="newCustomerForm" method="post">
        <div class="modal-body">
          <div id="error_msg" class="alert alert-danger alert-error hide">
              <strong>Error!</strong> 
              <span></span>
          </div>

          <div id="success_msg" class="alert alert-success hide">
            <strong>Success!</strong> 
            <span></span>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              
              <div class="form-group">
                <label for="ncName" class="control-label col-xs-12 col-sm-3 no-padding-right"> Name </label>
                <div class="col-xs-12 col-sm-9">
                  <div class="clearfix">
                    <input type="text" class="col-sm-10" id="ncName" name="ncName" placeholder="first name (Abdullah)" value="" />
                    <input type="text" class="col-sm-10" id="ncSecondName" name="ncSecondName" placeholder="second name (Shiwani)" value="" />
                  </div>
                </div>
              </div>
              
              <div class="clearfix"></div>
              <div class="space-4"></div>
              
              <div class="form-group">
                <label for="ncEmail" class="control-label col-xs-12 col-sm-3 no-padding-right">  Email </label>
                <div class="col-xs-12 col-sm-9">
                  <div class="clearfix">
                    <input type="email" class="col-sm-10" id="ncEmail" name="ncEmail" 
                      placeholder="email address (abdullahshiwani@gmail.com)" />
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="space-4"></div>

              <div class="form-group">
                <label for="ncContactNo" class="control-label col-xs-12 col-sm-3 no-padding-right"> 
                  Contact Person 
                </label>
                <div class="col-xs-12 col-sm-9">
                  <div class="clearfix">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="ace-icon fa fa-phone"></i>
                      </span>
                      <input type="text" class="col-sm-10" id="ncContactPerson" name="ncContactPerson" placeholder="contact person (Mr. Ossama)" />
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="clearfix"></div>
              <div class="space-4"></div>
              
              <div class="form-group">
                <label for="ncContactNo" class="control-label col-xs-12 col-sm-3 no-padding-right"> Contact # </label>
                <div class="col-xs-12 col-sm-9">
                  <div class="clearfix">
                    <input type="text" class="col-sm-10" id="ncContactNo" name="ncContactNo" placeholder="cell no (0300-1234567)" />
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="space-4"></div>
              
              <div class="form-group">
                <label for="ncAddress" class="control-label col-xs-12 col-sm-3 no-padding-right">Address</label>
                <div class="col-xs-12 col-sm-9">
                  <div class="clearfix">
                  <textarea class="col-sm-10" id="ncAddress" 
                    style="word-wrap: break-word; resize: vertical; height: 80px;" 
                    maxlength="300" placeholder="Plot 3/d, Steet 420, Lane 9211, Shikarpor , Thathay "></textarea>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="space-4"></div>

              <div class="form-group">
                <label for="ncIsAgent" class="control-label col-xs-12 col-sm-3 no-padding-right"> Is Agent ?  </label>
                <div class="controls col-xs-12 col-sm-9">
                  <label>
                    <input type="checkbox" class="ace ace-switch ace-switch-5" id="ncIsAgent" name="ncIsAgent">
                    <span class="lbl"></span>
                  </label>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="space-4"></div>
            
              <div id="ncPassportDetailBlock" class="widget-box">
                <div class="widget-body">
                  <div class="widget-main no-padding">
                    <div id="fuelux-wizard-container" class="">
                      <div class="step-content pos-rel">
                        <div data-step="1" class="step-pane active">
                          <h6 class="lighter block green"> Passport Detail </h6>

                          <div id="ncIndividualBlock" class="form-horizontal">

                            <div class="form-group">
                              <label for="ncPassportNo" 
                                  class="control-label col-xs-12 col-sm-3 no-padding-right input-mask-passportno">
                                Passport Number: 
                              </label>
                              <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                  <input type="text" class="col-xs-12 col-sm-6 input-mask-passport" id="ncPassportNo" name="ncPassportNo" placeholder="1234-1234-1234" />
                                </div>
                              </div>
                            </div>

                            <div class="space-2"></div>

                            

                            <div class="form-group">
                              <label for="ncPassportExpiry" class="control-label col-xs-12 col-sm-3 no-padding-right">Passport Expiry: </label>
                              <div class="col-xs-12 col-sm-9">
                                <div class="input-group col-sm-6">
                                  <input type="text" class="form-control date-picker" 
                                    data-date-format="dd-mm-yyyy" id="ncPassportExpiry" name="ncPassportExpiry" readonly />
                                  <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="space-2"></div>

                            <div class="form-group">
                              <label for="ncPassportDOB" class="control-label col-xs-12 col-sm-3 no-padding-right">Date Of Birth: </label>
                              <div class="col-xs-12 col-sm-9">
                                <div class="input-group col-sm-6">
                                  <input type="text" class="form-control date-picker" 
                                    data-date-format="dd-mm-yyyy" id="ncPassportDOB" name="ncPassportDOB" readonly />
                                  <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="space-2"></div>

                            <div class="form-group">
                              <label class="control-label col-xs-12 col-sm-3 no-padding-right">Gender</label>

                              <div class="col-xs-12 col-sm-9">
                                <div>
                                  <label class="line-height-1 blue">
                                    <input type="radio" class="ace" checked="checked" value="male" id="ncPassportGenderMale" name="ncPassportGender">
                                    <span class="lbl"> Male</span>
                                  </label>
                                </div>
                                <div>
                                  <label class="line-height-1 blue">
                                    <input type="radio" class="ace" value="female" id="ncPassportGenderFemale" name="ncPassportGender">
                                    <span class="lbl"> Female</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.widget-main -->
                  </div><!-- /.widget-body -->
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
          <i class="ace-icon fa fa-times"></i>
          Cancel
        </button>

        <button id="customerSaveBtn" class="btn btn-sm btn-primary">
          <i class="ace-icon fa fa-check"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</div><!-- PAGE CONTENT ENDS -->